the sites home page ovewrite layout -->
{% extends "layout.html" %}
<!-- inheriting from the layout.html -->
<!-- allowing the content in the body to be able to ovewrite what is in the block content -->
{% block content %}
	{% for post in posts %}
  <!-- look at the first tutorial for the original code though it was less appealing but atleast you could input large sums of data -->
		<article class="media content-section">
          <img class =''rounded-circle article-img'' src="{{ url_for(''static'', filename=''procfile_pics/'' + post.author.image_file) }}">
          <!-- the author is a backref that gives us access to the user and all their attributes thius even acquiring the image attached to that user -->
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.tutor_username }}</a>
              <!-- just print out the users username instead of printing out the whole user object -->
              <small class="text-muted">{{ post.date_posted.strftime(''%Y-%m-%d'') }}</small>
              <!-- this allows you to be able to display the time the post was created in a specific way -->
              <!-- the templating engine that flask uses is jinja 2 which allows the use of code blocks-->
              <!-- printing a variable is not the same as a code block so you use double curly braces -->
            </div>
            <h2><a class="article-title" href="{{ 'post',post_id = post.id }}">{{ post.title }}</a></h2>
            <!-- the reason why the above line is a href is so as to be able to link to the post html page that is being created -->
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
	{% endfor %}
{% endblock content %}
<!-- jinja 2 allows you to put the name of the block that you want to overwrite in the end of the code block